.wrapper {
    min-height: auto;
    max-height: 770px;
}

.wrapper{
    height: 100vh;
    max-height: 770px;
    background: #152673;
}

.content {
    height: 100vh;
    max-height: 770px;
    background: url(../images/bg_content.png) top center no-repeat;
}

.tab-content #bxh .bxh_content {
    /*height: 100%;*/
    /*overflow: auto;*/

    width: 368px;
    position: absolute;
    top: 190px;
    bottom: 50px;
    overflow-y:auto;
}

.sidebar>.widget {
    width: 368px;
}

.sidebar .social {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    height: auto;
}
