@charset "utf-8";

@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 980px) {
    
}
@media screen and (max-width: 900px) {
    /*.sidebar{display:none;}*/
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 640px) {
    
}
@media screen and (max-width: 600px) {
    
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 384px) {
    
}

@media screen and (max-width: 360px) {
    
}
@media screen and (max-width: 320px) {
    
}
@media screen and (max-width: 240px) {
    
}