/*
*Author: Nguyen Van Si - 0904 978 826
*/
@font-face {
   font-family: 'UTM HELVE';
   src:url('../fonts/UTM HELVE.TTF');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'UTM HELVE_ITALIC';
   src:url('../fonts/UTM HELVE_ITALIC.TTF');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'UTM HELVEBOLD';
   src:url('../fonts/UTM HELVEBOLD.TTF');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'UTM HELVEBOLD_ITALIC';
   src:url('../fonts/UTM HELVEBOLD_ITALIC.TTF');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'UTM HELVETINS';
   src:url('../fonts/UTM HELVETINS.TTF');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'UTM Netmuc KT';
   src:url('../fonts/UTM Netmuc KT.ttf');
   font-weight: normal;
   font-style: normal;
}

*{margin: 0;padding:0}
body{
    font-family: 'UTM HELVE';
    background: url(../images/web_home.png) top center no-repeat;
}
/*======CONTENT=======*/
.wrapper{width:100%; min-width: 1090px; min-height: 620px; max-height: 800px;}
.wrapper .content{width:64%;float:left}

/*======CONTENT HOME PAGE=====*/
.content .main{text-align: center;width: 100%;}
.main .dt{margin: 50px 0 10px 0;}
.main .bc{width:695px;height:205px;background: url(../images/batchu.png) no-repeat;}
.main .bc .bee_icon{width: 145px;height: 200px;background: url(../images/bee_icon.png) no-repeat;margin-left: 260px;position: absolute;margin-top: -16px;}
.main .play_game{position: relative;height: 210px;}
.play_game .singlemode{/*margin-left:180px;*/height: 101px;width:359px;margin: 0 auto;}
.play_game .multimode{/*margin-left:200px;*/height: 101px;width:359px;margin: 0 auto;}
.play_game .singlemode a{width:100%;height:100%;background: url(../images/singlemode_btt.png) no-repeat;text-indent: -9999px;display: block;}
.play_game .multimode a{width:100%;height:100%;background: url(../images/multimode_btt.png) no-repeat;text-indent: -9999px;display: block;}

/*======CONTENT INFO PAGE=====*/
.content .main_info{width:410px;margin: 20px auto; padding: 10px;}
.main_info h1.logo{color: #fff;}
h1.logo figcaption{font-size: 20px; font-family: 'UTM Netmuc KT';margin-top: 10px;}
.main_info .info_dt{color: #fff;position: relative;}
.info_dt h2{text-transform: capitalize;}
.info_dt span{position: absolute;right: 46px;}
.main_info .match{margin-top: 50px;}
.main_info .match p{width: 405px;height: 57px;margin-bottom: 10px;padding-left: 80px;text-align: left;}
.main_info .match p:last-child{margin-bottom: 0;}
.main_info .match p.google-play{background: url(../images/google-play-icon.png) no-repeat;}
.main_info .match p.fanpage{background: url(../images/fanpage-icon.png) no-repeat;}
.main_info .match p.play-game{background: url(../images/game-icon.png) no-repeat;}
.main_info .match p a{color:#fff;font-size: 20px;line-height: 50px;}
.main_info .match p a:hover{text-decoration: none;}

/*======CONTENT PROFILE PAGE=====*/
.content .main_profile{width:100%;height:100%}
.main_profile .fb-cover{width: 100%;height:400px;}
.main_profile .fb-cover img{text-align: left;opacity: 0.9;overflow: hidden;width:102%;height: 100%;z-index: 11;}
.main_profile .profile-cover{width: 500px;z-index: 22222;position: absolute;top: 12%;left: 12%;text-align: center;}
.profile-cover .thumb{color:#fff;margin: 0 auto;width: 154px; height: 154px;padding: 2px;background-color: #e9655d;border-radius: 154px;-moz-border-radius:154px;-webkit-border-radius:154px;}
.profile-cover .thumb img{width:100%;height:100%;border-radius: 100%;-moz-border-radius:100%;-webkit-border-radius:100%;}
.profile-cover .thumb figcaption{font-size: 20px;text-transform: capitalize;}
.profile-cover .thumb span{font-size: 14px;}
.profile-cover .trends{margin-top: 80px;color: #fff;margin-left: 80px;font-size: 14px;}
.profile-cover .trends li{list-style: none;width: 130px;margin-left: 40px; float:left; padding-left: 20px;height: 25px;}
.profile-cover .trends li span.xht span::before{content: '/'}
.profile-cover .trends li.xdd{background: url(../images/tieudiem_icon.png) left no-repeat;}
.profile-cover .trends li.tsx{background: url(../images/GEM_icon.png) left no-repeat;}
.main_profile .profile{width:500px;text-align: center;margin: 30px auto;height:110px;}
.main_profile .profile li{list-style:none;width: 205px;float:left;margin-left: 30px; padding: 20px;}
.main_profile .profile li a{color:#fff;font-size: 15px;text-align: left;text-transform: uppercase}
.main_profile .profile li a:hover{text-decoration: none;}
.main_profile .profile li.kd{background: url(../images/kd.png) left no-repeat;}
.main_profile .profile li.td{background: url(../images/ptd.png) left no-repeat;}
.main_profile .profile li.kb{background: url(../images/kb.png) left no-repeat;}
.main_profile .profile li.home_back{background: url(../images/home.png) left no-repeat;}

/*======CONTENT MULTI PLAYER PAGE=====*/
.content .main_multi{width:100%;height:100%;padding: 10px 0;text-align: left;}
.main_multi section.header{margin:0 0 20px 20px;height: 45px;}
.main_multi section.header p{float:left;height: 100%;}
.main_multi section.header p a{display: block;width: 100%;height: 100%;}
.main_multi section.header p.bc,.main_multi section.header p.time{width: 205px;}
.main_multi section.header p.bc a{background: url(../images/bc.png) no-repeat;text-indent: -99999px;}
.main_multi section.header p.bc a:hover{background: url(../images/bocuoc_hover.png) no-repeat;text-indent: -99999px;}
.main_multi section.header p.time{margin-left: 100px;}
.main_multi section.header p.time time{background: url(../images/clock_icon.png) no-repeat;font-size: 20px;color: #fff;display: block;padding-left: 70px;line-height: 40px;height: 45px;}
.main_multi section.box_find{width: 640px;height: 370px;background: url(../images/box_find.png) no-repeat;margin: 0 auto;}


/*======SIDEBAR=======*/
.wrapper .sidebar{width:35%;float:right;z-index: 999; background-color: #132267;border-left: 1px solid #193298;position: relative;}
.sidebar .widget{width:100%;/*padding: 0 15px;*/}

/*=====SIDEBAR NAME=====*/
.sidebar .sidebar_name{padding:15px;color:#eaf8fe;float: left; border-bottom:1px solid #193298}
.sidebar_name .name{width:69%;float:left;}
.sidebar_name .name .thumb{width: 76px;height: 76px;background: url(../images/khung.png) no-repeat;margin-right: 10px;padding: 2px;}
.sidebar_name .name .thumb img{width:100%;height: 100%;border-radius: 70px;-moz-border-radius:70px;-webkit-border-radius:70px;}
.sidebar_name .name .thumb, .sidebar_name .name .player{float:left}
/*.sidebar_name .name .player{width:200px}*/
.sidebar_name .name .player h2{font-size: 16px;margin-top: 5px;}
.sidebar_name .name .player p{margin-top: 15px;font-size: 12px;}
.sidebar_name .trends{float:left;width: 30%;}
.sidebar_name .trends li{list-style: none; padding: 3px 0 0 35px;height: 25px;font-size: 12px;}
.sidebar_name .trends li.xdd{background: url(../images/tieudiem_icon.png) left center no-repeat;}
.sidebar_name .trends li.tsx{background: url(../images/GEM_icon.png) left center no-repeat;margin-top: 10px;}
.sidebar_name .trends li span.xht span::before{content: '/';}

/*=====SIDEBAR BXH=====*/
.sidebar .sidebar_bxh{border-top: 1px solid #091341;float:left; border-bottom:1px solid #193298}
.nav-tabs{border-bottom: none;border-bottom: 1px solid #193298;width: 100%;padding: 5px 0;}
.nav-tabs>li{width:43%;padding-left: 30px;margin-left: 15px;}
.nav-tabs>li>a{border-radius: 0;color: #556bc3;font-size: 14px;border:none;}
.nav-tabs>li>a:hover{background-color: transparent;color: #eef1fe;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #eef1fe;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs>li.bxh{background: url(../images/BXH_icon.png) left no-repeat;}
.nav-tabs>li.bxh:hover, .nav-tabs>li.bxh.active{background: url(../images/BXH_hover.png) left no-repeat;}
.nav-tabs>li.shop{background: url(../images/shop_hover.png) left no-repeat;}
.nav-tabs>li.shop:hover, .nav-tabs>li.shop.active{background: url(../images/shop_icon.png) left no-repeat;}
.nav-tabs>li.friend{background: url(../images/friend_icon.png) left no-repeat;}
.nav-tabs>li.friend:hover, .nav-tabs>li.friend.active{background: url(../images/friend_hover.png) left no-repeat;}
.nav-tabs>li.chatroom{background: url(../images/chat_icon.png) left no-repeat;}
.nav-tabs>li.chatroom:hover, .nav-tabs>li.chatroom.active{background: url(../images/chat_hover.png) left no-repeat;}

.tab-content {border-top: 1px solid #091341;width: 100%;overflow: hidden;}

/*======TAB BXH======*/
.tab-content #bxh .bxh_title{text-align:center;}
.tab-content #bxh .bxh_title h3{float:left;text-indent:-99999px;width: 90%;margin-top:6px;height: 25px;background: url(../images/bangxephang.png) center center no-repeat;}
.tab-content #bxh .bxh_content{}
.tab-content #bxh .bxh_content li{list-style: none;margin-left: 15px;width: 43%;float:left;padding: 5px 0 2px;}
.tab-content #bxh .bxh_content li.line1{border-bottom: 1px solid #2847bb;width: 98%;margin-left: 0;}
.tab-content #bxh .bxh_content li.line2{border-top: 1px solid #091341;width: 98%;margin-left: 0;}
.tab-content #bxh .bxh_content li span{color:#fff}
.tab-content #bxh .bxh_content li span.play_name{font-size: 13px;clear: both;}
.tab-content #bxh .bxh_content li span.play_name a{color:#fff}
.tab-content #bxh .bxh_content li span.play_name{background: url(../images/thuhang.png) left no-repeat;padding-left: 30px;display: block;height: 32px;}
.tab-content #bxh .bxh_content li:first-child > span.play_name{background: url(../images/top.png) left no-repeat;padding-left: 30px;display: block;height: 32px;}
.tab-content #bxh .bxh_content li img{width:50px;height:50px;border-radius: 50px;-moz-border-radius:50px;-webkit-border-radius:50px;float: left;margin-left: 25px;margin-top: -8px;}
.tab-content #bxh .bxh_content li p.info{float: left;margin-left: 10px;width: 39%;margin-bottom: 0;margin-top: -14px;}
.tab-content #bxh .bxh_content li p.info span.mark{background-color: transparent;font-size: 12px;}
.tab-content #bxh .bxh_content li p.info span{background-color: transparent;font-size: 12px;}
.tab-content #bxh .bxh_content li p.info span.level{clear: both;}
.tab-content #bxh .bxh_content li p.info a{color:#fce172;background-color: #132267;font-size:10px;display: block;width: 70px;height: 18px;line-height: 15px;text-align: center;border-radius: 10px;border: 1px solid #374c9e;margin-top: 5px;}

/*======TAB FRIEND======*/
.tab-content #friend .friend_title{text-align:center;}
.tab-content #friend .friend_title h3{float:left;text-indent:-99999px;width: 90%;margin-top:6px;height: 25px;background: url(../images/icon-friend.png) center center no-repeat;}
.tab-content #friend .friend_content{/*overflow-y:auto;overflow-x: hidden;*/ background: url(../images/bg_show.png) top repeat;height: 334px;float:left;position: relative;}
.tab-content #friend .friend_content li{list-style: none;margin-left: 15px;width: 43%;float:left;padding: 5px 0 2px;}
.tab-content #friend .friend_content li.line1{border-bottom: 1px solid #2847bb;width: 98%;margin-left: 0;}
.tab-content #friend .friend_content li.line2{border-top: 1px solid #091341;width: 98%;margin-left: 0;}
.tab-content #friend .friend_content li span{color:#fff}
.tab-content #friend .friend_content li span.play_name{font-size: 13px;clear: both;}
.tab-content #friend .friend_content li span.play_name a{color:#fff}
.tab-content #friend .friend_content li span.play_name{background: url(../images/thuhang.png) left no-repeat;padding-left: 30px;display: block;height: 32px;}
.tab-content #friend .friend_content li:first-child > span.play_name{background: url(../images/top.png) left no-repeat;padding-left: 30px;display: block;height: 32px;}
.tab-content #friend .friend_content li img{width:50px;height:50px;border-radius: 50px;-moz-border-radius:50px;-webkit-border-radius:50px;float: left;margin-left: 25px;margin-top: -8px;}
.tab-content #friend .friend_content li p.info{float: left;margin-left: 10px;width: 39%;margin-bottom: 0;margin-top: -14px;}
.tab-content #friend .friend_content li p.info span.mark{background-color: transparent;font-size: 12px;}
.tab-content #friend .friend_content li p.info span{background-color: transparent;font-size: 12px;}
.tab-content #friend .friend_content li p.info span.level{clear: both;}
.tab-content #friend .friend_content li p.info a{color:#fce172;background-color: #132267;font-size:10px;display: block;width: 70px;height: 18px;line-height: 15px;text-align: center;border-radius: 10px;border: 1px solid #374c9e;margin-top: 5px;}


/*======TAB SHOP======*/
.tab-content #shop .shop_title{text-align:center;}
.tab-content #shop .shop_title h3{text-indent:-99999px;width: 90%;margin-top:6px;height: 25px;background: url(../images/shop.png) center center no-repeat;float:left;}
.tab-content #shop .shop_content{border-top: 2px solid #132267;float: left;border-bottom: 1px solid #2b4ac2;background: url(../images/bg_show.png) top repeat;height: 204px;width: 100%;float:left;position: relative;}
#shop .tlqd{border-bottom: 1px solid #2b4ac2;width: 100%;height: 60px;background-color: #0a1647; text-align: center;color:#fff;float:left}
#shop .tlqd h2{text-transform: uppercase;font-size: 16px;margin: 10px 0;}
#shop .tlqd p{font-size: 12px;}
#shop .three_col{width: 33.3%;float:left;height:100%;}

#shop .gem_150{background-color: #1485aa;}
#shop .gem_300{background-color: #142f94;}
#shop .gem_450{background-color: #122981;}
.three_col .gem_title{width:100%;height: 40px; text-align: center;}
.gem_150 .gem_title{background-color: #0d2474;}
.gem_300 .gem_title{background-color: #0d1e5f;}
.gem_450 .gem_title{background-color: #0b184c;}
.gem_title h4{margin: 0;color: #fff;text-transform: uppercase;font-size: 14px;line-height: 40px;}
.three_col .gem_content{margin-top: 10px;text-align: center;}
.gem_content p span{color: #c0b827}
.gem_content p a{display: block;width: 105px;height: 35px;margin: 0 auto;color:#fff;line-height: 30px;font-size: 12px;}
.gem_content p a:hover{text-decoration: none;}
.gem_content p a.card{background: url(../images/icon-card.png) no-repeat;padding-left: 15px;}
.gem_content p a.sms{background: url(../images/icon-sms.png) no-repeat;padding-left: 10px;}
#shop .mt{width:100%;height:70px;border-top: 1px solid #132267;float: left;z-index: 123;}
#shop .mt .thcb{position: absolute;text-align: left;background-color: transparent;height: 70px;opacity: 1;bottom: 95px;}
#shop .mt .thcb p{color: #fff;font-size: 13px;margin-left: 25px;}
#shop .mt .thcb p span{color:#f6564c;font-family: 'UTM HELVEBOLD';}


/*======TAB CHATROOM=======*/
.tab-content #chatroom .chatroom_title{text-align:center;}
.tab-content #chatroom .chatroom_title h3{text-indent:-99999px;width: 90%;margin-top:6px;height: 25px;background: url(../images/title_chat.png) center center no-repeat;float:left;}
.tab-content .bell{margin-top: 13px;color: #4789f3;}
.tab-content .g-comment{color: #e1204b;float: right;margin-right: 8px;}
.tab-content #chatroom .chatroom_content{background: url(../images/bg_show.png) top repeat;height: 334px;width: 100%;float:left;position: relative;padding: 10px 15px;}
.chatroom_content h4.media-heading{color: #fff;font-size: 14px;}
.chatroom_content h4.media-heading.sender{color: #3355e2;font-size: 14px;}
.chatroom_content .media .media{margin-top: 0; font-size: 12px;}
.media span.play.glyphicon-play{
    color: #fff;
    margin-left: 10px;
    -moz-transform: rotate(28deg);
    -webkit-transform: rotate(28deg);
    margin-top: -10px;
    position: absolute;
}
.chatroom_content .media .media span{color: #96acff;}
.chatroom_content .media .media span.time{float:right;font-style: italic;margin-right: 5px;}
.chatroom_content .media .comment{position:relative;display: inline-table;background-color: #fff; border:1px solid #464646;border-radius: 15px;-webkit-border-radius:15px;-moz-border-radius:15px;padding:5px;margin-top: 5px;}
.chatroom_content .media .comment p{margin: 0;font-size: 12px;color: #363636;}

.tows{background: url(../images/top2.png) left no-repeat !important;}
.seconds{background: url(../images/top3.png) left no-repeat !important;}

.tab-content .scroll{opacity: 0.75;width: 7px;height: 95%;top: 0;right: 1px;background-color: #132267;-webkit-border-radius: 10px;    -moz-border-radius: 10px;    border-radius: 10px;}
.tab-content .scroll .mCSB_draggerContainer{padding-bottom: 20px;height:100%}
.mCSB_draggerContainer .mCSB_dragger {
    width: 100%;
    height: 30px;
}
.mCSB_draggerContainer .mCSB_draggerRail {
    background: #132267;
    width: 7px;
    height: 40%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.mCSB_dragger .mCSB_dragger_bar {
    background: #154cff;
    opacity: 0.8;
    width: 7px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}
.tab-content .thcb{line-height:38px;text-align: center;height:40px;background-color: #0a1646;z-index: 99999;position: absolute;width: 100%;bottom: 0;opacity: 0.7;}
.tab-content .thcb a{color:#fff;font-size: 16px;opacity: 1;z-index: 1000000;}
.tab-content #chatroom .thcb{opacity: 1;}
.tab-content #chatroom .thcb{margin-left: -15px;}
.thcb .comment-form{padding: 6px;}
.thcb .comment-form input.comment{padding-left:10px;width: 89%;height:30px;background-color: #fff;border-bottom-left-radius: 10px;border-top-left-radius: 10px;border: 1px solid #fff;}
.thcb .comment-form input.submit-form{height: 30px;margin-left: -5px;border: 1px solid #495aa1; text-indent: -9999px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;width: 10%;background: url(../images/search-icon.png) center center no-repeat;}

/*======SIDEBAR SOCIAL=======*/
.sidebar .social{text-align: center; padding: 24px;float: left;}
.social p{float:left;width:20%;margin: 0;}

@-moz-document url-prefix() {
    body{
        background: url(../images/web_home_ff.png) top center no-repeat;
    }
    .wrapper .content{width:892px}
   #shop .three_col{width: 151.5px;float:left;height:100%;}
   .tab-content #shop .shop_content{height: 228px;}
   .tab-content #bxh .bxh_content,.tab-content #chatroom .chatroom_content,.tab-content #friend .friend_content{height: 357px;}
   .thcb .comment-form{padding:0;position: relative;margin-left: -35px;}
   .thcb .comment-form input.submit-form{position: absolute; margin-top: 4px;}
   /*.play_game .singlemode{margin-left:250px;}*/
   .play_game .multimode{width:52%;}
   .wrapper .content{width:63%;float:left}
   .social p{float:left;width:20%;margin: 0;}
}

@media screen and(max-width: 768px) {
    .sidebar .social{text-align: center; padding: 15px;float: left;}
    .social p{float:left;width:20%;margin: 0;}
}
